.footer{
    width: 100%;
    height: .98rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    bottom: 0;
    border-top: 1px solid #ccc;
    box-shadow:.05rem .02rem .06rem #000; 
}
.footer>li{
    width: 100%;
    height: 100%;
    text-align: center;
}
.footer>li>a{
    width: 100%;
    height: 100%;
    color: #acacac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.footer>li>a>i{
    font-size: .5rem;
}
.footer>li>.active{
    color:#ff5181;
}
