.classify{
    width: 7.5rem;
    height: 13.34rem;
    position: relative;
    background: #efefef;
}
.header{
    width: 100%;
    height: .77rem;
   
    display: flex;
    justify-content: space-between;
    padding: 0 .32rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    border-bottom: .01rem solid #999;
}
.header>i{
    font-size: .36rem; 
}
.header .colorWhite{
    color: #fff;
}
.header>div{
    flex: 1;
    border-radius: .4rem;
    height: .5rem;
    opacity: .7;
    position: relative;
    margin: 0 .2rem;
}
.header>div>input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: .4rem;
    padding-left: .45rem;
    font-size: .24rem;
}
.header>div>i{
    position: absolute;
    font-size: .36rem;
    left: .05rem;
    top: .09rem;
    
}
